.animal {
  height: 300px;
  list-style: none;

  &__img {
    width: 100%;
  }

  &__text-container {
    margin-top: -4px;
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.dog {
      background: #4B8E8D;
    }
    &.cat {
      background: #C3377E;
    }

    .animal__name {
      font-family: 'Bebas Neue';
      letter-spacing: 2px;
      color: White;
    }

    .animal__icons {
      display: block;

      img {
        margin: 5px;
      }
    }
  }
}
