$petrol: #4B8E8D;
$pink: #C3377E;
$orange: #F59039;

  .box{
    background: $petrol;
    text-align: center;
    padding: 2rem;
    color: white;

    h1{
      font-family: Bebas Neue;
      font-size: 36px;
    }

    h2{
      font-family: Bebas Neue;
      font-size: 24px;
      color: white;
    }

    p{
      font-family: Noto Serif;
    }

    button{
      background: black;
      margin-top: 2rem;

      h2{
        margin: .5rem;
      }
    }
  }
