@media (min-width: 600px) {

  #hero {
    height: 100vh;
  }

  .box {
    width: 50%;
    margin: 0;
    height: 100vh;
    padding: 0;

    p {
      padding: 2rem;
    }

    h1 {
      padding-top: 8rem;
    }
  }

  .picture {
    width: 50%;
    margin: 0;
    height: 100vh;
  }
}
